agent:
  metadata:
    agent_name: "{{ plan_postgres_agent_name | default('dsk-plan-postgres-agent') }}"
  data_source_name:
    user: "{{ plan_postgres_user_name | default('') }}"
    password: "{{ plan_postgres_user_password | default('') }}"
    address: "{{ plan_postgres_database_address | default('') }}"
    port: "{{ plan_postgres_database_port | default('') }}"
    DBName: "{{ plan_postgres_database_name | default('') }}"
  explain:
    scrape_interval: {{ plan_postgres_scrape_interval | default('30s') }}
    scrape_timeout: {{ plan_postgres_scrape_timeout | default('5s') }}
    slow_query_standard: {{ plan_postgres_slow_query_standard | default('5s') }}